@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

:root {
  --color1: #525B44;
  --color2: #5A6C57;
  --color3: #85A98F;
  --color35: #95ba9f;
  --color4: #D3F1DF;
}

.radley-regular {
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: "Radley", serif;
  background-color: var(--color2);
  color: var(--color4)
}

.color1{
  color: var(--color1)
}

.color2{
  color: var(--color2)
}

.color3{
  color: var(--color3)
}

.color35{
  color: var(--color35  )
}

.color4{
  color: var(--color4)
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.mainDetails{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.mainContainer1{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center ;
  padding-left: 50px;
  padding-right: 50px;

}

.profileimage{
  border-radius: 100%;
  width: 20%;
  margin-top: 20px;
}

.mainH2{
  font-size: 80px;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
