@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

:root {
  --color1: #525B44;
  --color2: #5A6C57;
  --color3: #85A98F;
  --color35: #a4caae;
  --color4: #D3F1DF;
  --color5: #9ab8ff;
}

.pee{
  font-size: xx-large;
  margin-top: 30px;
}

.radley-regular {
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: "Radley", serif;
  background-color: var(--color2);
  color: var(--color4);
  text-decoration: none;
}

.animated{
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.color1{
  color: var(--color1)
}

.color2{
  color: var(--color2)
}

.color3{
  color: var(--color3)
}

.color35{
  color: var(--color35  )
}

.color4{
  color: var(--color4)
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  text-decoration: none;
}

a{
  text-decoration: none;

}

.projectsComponent{
  padding: 0px 100px 0px 100px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.projectBox{
  border-radius: 30px;
  background-color: var(--color1);
  padding: 20px;
}

.projectLink{
  padding: 0px 10px 0px 10px;
  color: var(--color1);
  font-weight: 900;
  font-size: large;
  transition: 0.3s;  
}

.projectLink:hover{
  color: var(--color4)
}

.linkImage{
  filter: invert(42%) sepia(19%) saturate(413%) hue-rotate(65deg) brightness(89%) contrast(86%);
  width: 15px;
  height: auto;
  transition: 0.3s;
}

.linkImage:hover{
  filter: invert(97%) sepia(6%) saturate(794%) hue-rotate(74deg) brightness(100%) contrast(90%);
  transition: 0.3s;
}

.projectDetail{
  color: var(--color4);
}

.imageBox{
  display: flex;
  margin: auto;
  width: fit-content;
  justify-content: space-around;
}

.projectImage{
  width: 30%;
  border-radius: 7px;
}

.projectLinkBox{
  display: flex;
  align-items: center;
  width: fit-content;
  height: 25px;
  background-color: var(--color35);
  padding: 0px 10px 0px 10px;
  transition: 0.3s;
  text-align: center;
}

.projectLinkBox:hover{
  background-color: var(--color2);
  color: white;
  transition: 0.3s;  
}

.projectLinkBox:hover .linkImage{
  filter: invert(97%) sepia(6%) saturate(794%) hue-rotate(74deg) brightness(100%) contrast(90%);
  transition: 0.3s;
}

.projectLinkBox:hover .projectLink{
  color: var(--color4)
}

.projectsH2container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar p {
  padding: 0px 5px 0px 5px;
  font-size: x-large;
  cursor: pointer;
  color: var(--color4);
  transition: color 0.3s ease;
}

.navp:hover{
  background-color: var(--color1);
  transition: 0.3s;
}


.mainDetails{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 30px;
}

.mainContainer1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start ;

}

.profileimage{
  border: solid 5px #5A6C57;
  outline: solid 3px #85A98F;
  margin-top: 20px;
  width: 95%;
}

.imageDiv{
  margin: auto;
  padding-right: 30px;
}

.h2Smaller{
  font-size: 70px;
}

.h2Larger{
  font-size: 80px;
}

.mybutton{
  font-family: "Radley", serif;
  border: solid 1px var(--color35);
  padding: 0px 5px 0px 5px;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color4);
  transition: 0.3s;
}

.mybutton:hover{
  border: solid 1px var(--color3);
  background-color: var(--color3);
  color: white;
  transition: 0.3s;
}

.mainH2{
  line-height: 69px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.mainButtons{
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.ml-10{
  margin-left: 30px;
}

.mr-10{
  margin-right: 30px;
}

.mainComponent{
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 80vh;
}

.App {
  text-align: center;
}

.aboutComponent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.aboutBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactLink{
  color: var(--color4);
}

.contactLink:hover .clp{
  background-color: var(--color35);
  color: var(--color1);
  transition: 0.3s;
}

.contactLink p{
 margin: 10px;
 background-color: var(--color1);
 padding: 0px 10px 0px 10px;
 transition: 0.3s;
}

@media only screen and (max-width: 700px) {
  .mainComponent{
    grid-template-columns: 1fr;
  }

  .mainDetails{
    align-items: center;
    padding: 20px;
    padding: 0;
    margin: 0;
  }

  .mainH2{
    margin-top: 5px;
    line-height: 35px;
  }

  .h2Smaller{
    font-size: 2em;
  }
  
  .h2Larger{
    font-size: 3em;
  }

  .pee{
    text-align: center;
  }

  .mainButtons{
    width: 100vw;
  }

  .imageDiv{
    display: flex;
    padding: 0;
    width: fit-content;
    justify-content: center;
  }

  .projectsComponent{
    padding: 10px;
    grid-template-columns: 1fr;
  }

  .aboutBox{
    font-size: larger;
  }

  .profileimage{
    width: 200px;
  }
}